.table {
  margin: 0 auto; /* Center the table horizontally */
  overflow-x: auto; /* Horizontal scrollbar if table overflows */
  max-width: 70%;
  background-color: #f4f2ea;
}

.Tabs{
  color: white;
}

.Background{
  background-color: #f4f2ea;
}

.MuiTabs-indicator {
  background-color: #c8b166 !important;
}

.MuiTab-root {
  color: #ffffff !important; 
}


.Mui-button {
  color: black !important; 
}

.MuiIconButton-root.MuiIconButton-colorPrimary {
  color: #c8b166;
}

.logo-container {
  max-height: 40px;
  padding-left: 15%; 
}

.logo{
  max-height: 100%;
}

.header{
  background-color: #444444;
  align-items: center;
  padding-top: 1%;
  
}


